body{
  background: #fff url('images/gradbg.jpg') top left repeat-x;
  color: #000;
  margin: 0;
  padding:0;
  border: 0;
  font-family: Verdana, Arial, sans-serif; font-size: 1em;
}
div {
  width: 800px;
  margin: 0 auto;
}
#bggraphic {
  height: 278px;
  width: 362px;
  position: absolute;
  left: 50%;
  z-index: 100;
}
h1 {
  text-align: center;
  color: red;
  text-transform: uppercase;
  font-size: 3em;
  margin-bottom: 30px;
  background: url('images/headbg.png') top left repeat;
  padding: 10px 0;
}

h2 {
  text-align: center;
  color: rgb(228, 228, 0);
  text-transform: uppercase;
  font-size: 1.25em;
  margin-bottom: 30px;
  padding: 10px 0;

}

p {
  text-align: left;
  margin-left: 100px;
  margin-right: 150px;
}
.special {
  font-size: 0.9em; /* Hace el texto más pequeño */
  color: #353535; /* Cambia el color del texto */
}

#references cite {
  margin: 1em 0 0 3em;
  text-indent: -3em;
  display: block;
  font-style: normal;
  padding-right: 3px;
  margin-bottom: 20px; /* Ajusta el valor según sea necesario */
}
.website {
  border-right: 5px solid blue;
  background-image: url('images/web.png');
  background-repeat: no-repeat;
  background-position: right;
}
.book {
  border-right: 5px solid red;
  color: red;
  background-image: url('images/llibres.png');
  background-repeat: no-repeat;
  background-position: right;
}
.article {
  border-right: 5px solid green;
  background-image: url('images/articles.png');
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 50px;
  
}
#footer {
  display: none;
  font-size: 0.5em;
  border-top: 1px solid #000;
  margin-top: 20px;
}
#footer a {
  color: #000;
  text-decoration: none;
}
#footer a:hover{
  text-decoration: underline;
}